[2022-03-18 13:40] larswik commented on #365
Current model (see also #367)
![image](https://user-images.githubusercontent.com/25506404/159013303-3931b138-1fcc-4333-9a18-de5c633bbee2.png)

[2022-03-21 10:29] larswik commented on #376
From meeting with domain team 2022-03-18: Maybe LATERALLYDRAINED needs to be added?

[2022-03-21 10:41] larswik commented on #364
IfcWall/RETAININGWALL seems ok.

Yielding supports:
- Proposal from meeting with domain team 2022-03-18: Yielding supports could be a "Yielding" property on an Arch or Wall.

Liner plates
- IfcPlate.

Lagging
- Still not clear.

[2022-03-21 12:05] larswik opened #378 "[IFC Tunnel][Geotechnics] Best IFC representation of tests?"
InSituTest, GeophysicalSurvey and LabTest
- Can these be considered IfcGeoScienceObservation PDT:s?

There seems to be some agreement that the detailed test types can be considered as Psets (see #373)

[2022-03-21 12:45] larswik commented on #203
From [eemua](https://www.eemua.org/Glossary/H-(2)/MainET.aspx):
"Main Earthing Terminal (MET). A terminal or busbar which is part of the earthing arrangement of an installation and which enables the electric connection of a number of conductors for earthing purposes."

Could these be added to a separate subclass under IfcFlowTerminal?

[2022-03-21 20:09] SergejMuhic opened #380 "[IFC Tunnel] `IfcVoxelData` alternatives"
Voxel Data alternatives:
1. ValueType attribute as a string that has agreed allowed values or enum
2. Define many subtypes, one for each required IFC defined type
3. One generic representation with all measure types possible (IfcValue select)
4. Only external voxel data (ValueType specifies the measure of external)

These were the options discussed and option 1. was chosen as the most appropriate

[2022-03-22 10:45] aothms opened #381 "Artefacts expiring"
The default expiry date for artefacts from github actions is 90 days. This period is starting to kick in on the important artefacts such as the RC4 Update schema. Is there anything that can be done abt this?

![afbeelding](https://user-images.githubusercontent.com/1096535/159464571-ae81c061-e2cd-47f3-bc04-2390735903d0.png)

[2022-03-22 12:13] larswik commented on #364
![image](https://user-images.githubusercontent.com/25506404/159479334-c39ff93c-eb14-4a3a-9e90-f7751fb5368f.png)

[2022-03-22 12:13] larswik commented on #364
![image](https://user-images.githubusercontent.com/25506404/159479413-7690cf14-de1f-4ffc-80ab-c2d94289db74.png)

[2022-03-22 13:59] pjanck commented on #381
I am unsure if we can do anything regarding this, but haven't read into the billing plans of GitHub either. On the other note: I am failing to see why this would be a problem? I thought all these artifacts have been superseded with the submission to ISO.

[2022-03-22 16:05] SergejMuhic commented on #381
Is it an issue? The artifacts were important in the deployment process but at this time the infra and rail projects do not have a use for them anymore. I see two options for any requirements on having access to them in the future:
1. Git history if these would need to be regenerated
2. Download and archive the ones that are needed

[2022-03-22 18:59] pjanck commented on #381
An additional possibility: use the a more recent artifact, e.g. https://github.com/bSI-InfraRoom/IFC-Specification/actions/runs/1988192211 .

[2022-03-22 19:08] aothms commented on #381
Indeed it's derived data, it's only a minor inconvenience. I just got a couple questions on the differences wrt RC4. I can generate it locally, but it would have a bit more authority if comes directly out of the repo and It'd be nice to be able to easily point people to it.

[2022-03-23 08:07] SergejMuhic commented on #381
We would have to move from a free plan for this repo probably. I am not familiar with methods of keeping these artifacts from not being deleted. Does anyone know what has to be done?

[2022-03-23 08:12] aothms commented on #381
Well, I can recommend that approach we took with the bSI repo. Just push to another repo. Free and convenient to browse.

[2022-03-23 08:17] SergejMuhic commented on #381
Okay, that seems like a good way of dealing with it. @pjanck what do you think?

@aothms do you have a script already for it? Depending on the license (I think MIT was agreed on, right?), we could just re-use it here and create an artifacts repo.

[2022-03-23 08:22] aothms commented on #381
It's here baked into our travis ci configuration https://github.com/buildingSMART/IFC4.3.x-development/blob/master/.travis.yml#L24-L35 You'd need to setup a secrets for the token. Clone the repo, overwrite the files, git add commit push. That's about it.

[2022-03-23 08:25] pjanck commented on #381
Can we just reuse the IFC-Documentation repository for this?

@aothms Can you prepare a pull request? Do you need additional rights?

[2022-03-24 10:22] anborr commented on #366
IfcSpatialZone
IfcSpatialZoneTypeEnum : new enum SERVICE_SPACE

[2022-03-24 10:29] anborr commented on #360
1. Define entire tunnels as IfcTunnel (list of PDTs remains to be defined).

2. Longitudinal breakdown:
Do we still have IfcFacilityPartTypeSelect?
Proposed PDTs:
- PORTAL
- SHAFT
- CROSS_TUNNEL
- TUNNEL_SECTION

3. lateral spaces: SpatialZone
Yes, small set of PDTs. I am in favor of Figure 7-9 above.

[2022-03-24 11:12] anborr commented on #369
Active: I agree with IfcDistributionSystem/FIREPROTECTION
Passive: IfcBuiltSystem/FIREPROTECTION

[2022-03-24 11:19] anborr commented on #205
Dramatization: IfcDistributionSystem.WARNING_SYSTEM or IfcDistributionSystem.SAFETY_SYSTEM

[2022-03-24 11:26] anborr commented on #205
Tracking: IfcDistributionSystem.MONITORINGSYSTEM

[2022-03-24 11:28] anborr commented on #205
Waiting area, Airlock: IfcSpatialZone.FIRESAFETY

[2022-03-24 12:57] larswik commented on #360
Decision 2022-03-24:
- Facility PDTs
  - ACCESSTUNNEL
  - SHAFT
  - UTILITIES (includes e.g. water, gas, high voltage)
  - ROAD
  - RAILWAY
  - METO
  - PEDESTRIAN
  - BICYCLE
  - MAINTENANCE
  - UNDERGROUND_FACILITIES
- Facility parts (longitudinal subdivision)
  - TUNNELSECTION
  - RINGSECTION
  - CROSSWAY
  - PORTAL
- Spatial zones (lateral subdivision) - should "SPACE" be included in the name?

[2022-03-24 13:02] larswik commented on #369
Decision 2022-03-24:
- Active fire protection
  - Re-use IfcDistributionSystem/FIREPROTECTION (new definition: Active fire protection for detecting, stopping and excaping fire)
- Passive fire protection
  - New PDT IfcBuiltSystem/FIREPROTECTION (definition: Passive fire protection for containing the fire and preventing it from spreading further)

[2022-03-26 10:03] aothms opened #382 "IfcDocLite"
Two questions:

Is the source code of IfcDocLite available?

It doesn't seem the XSD export is implemented? I only see -FE (express) -FP (props) -FS (folder structure) and -D (docs)

[2022-03-26 10:10] aothms commented on #381
@pjanck we discussed this with @SergejMuhic and since the changes are mostly configuration and require rights for testing, it doesn't make much sense if I try to contribute sth

[2022-03-28 08:08] SergejMuhic commented on #382
I could make it available. I haven't yet because it is poorly documented and I would have to put some license/copyright on it I guess.

True. Docs kind of generated everything anyway, so there was no special requirement for this part. Since I kind of just add stuff based on when any needs arise 😄 , I could add that also.

This app is not my priority though, so I have a long turnaround time.

Let m

[2022-03-28 08:10] SergejMuhic commented on #381
I think we should do it with Github actions instead of introducing a new technology (Travis) anyway. So, let's do something about it @pjanck .

[2022-03-29 07:11] aothms commented on #382
Ok, I didn't realize that -D did everything, I should have checked. Then for me it's also not a high priority thing. I'll just close this then. Thanks for the reply.

[2022-03-29 07:11] #382 closed, assigned to nobody

[2022-03-29 07:48] pjanck commented on #381
All Actions have a possibility to be manually started using `workflow_dispatch` event. Would this suffice or do we need the history as well?

[2022-04-11 09:25] larswik commented on #377
Issue was resolved by adding the following:
- IfcSpatialZone/COMPARTMENT - to handle the tunnel compartments achieved between the cut-offs
- IfcDiscreteAccessory/WATER_BARRIER - to handle the actual cut-offs

Some good definitions for these will be needed!

[2022-04-11 09:26] larswik commented on #376
We added IfcGroundImprovementElement/LATERALLYDRAINED.
By that this issue seems resolved.

[2022-04-11 09:27] larswik commented on #375
Proposal to leave it as is. (Everything "Ground" under IfcEarthworksElement)

[2022-04-11 09:37] larswik commented on #373
Agreed! I propose a generic IfcGeoScienceObservation/GEOSCIENCEOBSERVATION instead of these three (Avoiding using only "Geo" as prefix since this may lead the thoughts also to Geography, Geospatial etc)

[2022-04-11 09:38] larswik commented on #373
Then I see this as a settled proposal!

[2022-04-11 09:39] larswik commented on #373
I have added an IfcGeoscienceFeature/VOIDBODY in the model (parallel to e.g. FLUIDBODY, GEOTECHNICALUNIT etc)

[2022-04-11 09:39] larswik commented on #373
Ok, we'll need to come back to this then!

[2022-04-11 09:41] larswik commented on #373
These are still in the conceptual model and handled as predefined types for IfcGeoScienceModel

[2022-04-11 09:43] larswik commented on #372
This issue seem to be resolved.

[2022-04-11 11:48] larswik commented on #368
Propose to keep this out of the model and use Pset if necessary.

[2022-04-11 11:51] larswik commented on #366
Proposal to just call it SERVICE

[2022-04-11 11:54] larswik commented on #365
Proposal:
- Keep only ROCKSUPPORTBOLT and SPILINGBOLT
- Move TUBE to IfcDiscreteAccessory/STRUCTURAL_SEALING

[2022-04-11 11:58] larswik commented on #364
Proposal:
Liner plates - IfcPlate/?
Lagging - IfcPlate/LAGGING
Yielding supports - A property (HasYieldingSupport : IfcBoolean, YieldingLength:IfcLengthMeasure) connected to any element that can have this (IfcArch and IfcWall were mentioned). Jan Erik states that “I think we agreed that yielding could be a property on all rock support (?) Rock support bolts could be yielding as well”
One possible

[2022-04-11 12:07] larswik commented on #260
Propose to leave it instantiable.

[2022-04-11 12:15] larswik commented on #203
Proposal:
- Added IfcEarthingElement under IfcFlowTerminal
- Added required PDTs

[2022-04-11 12:22] aothms commented on #373
I just wanted to quickly comment on this. It would entail that there are three ways then for subtyping in the schema. Entity / Predefined Type / Pset. There is no way to indicate that a Pset fulfills this subtyping role as opposed to a Pset with just complementary information. I would envision this poses problems for mappings to languages where typing is "cheaper" such as OWL or bsDD or mappings t

[2022-04-11 12:42] larswik commented on #373
Thanks for commenting! I can agree with you in principle. The problem I saw is that I am not sure how fixed/agreed/static this list of tests is and also that it becomes very "boilerplate" as you say. But let's leave this one open.

[2022-04-12 12:16] larswik opened #383 "[IFC Tunnel] Add spatial zone and discrete accessory to handle cut-off in tunneling"
Issue was resolved by adding the following:
- IfcSpatialZone/COMPARTMENT - to handle the tunnel compartments achieved between the cut-offs
- IfcDiscreteAccessory/WATER_BARRIER - to handle the actual cut-offs

Some good definitions for these will be needed!

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/377#issuecomment-1094800068_

[2022-04-12 12:21] larswik commented on #197
Same issue as #201

[2022-04-12 12:35] SergejMuhic commented on #197
1. Rename ValueType to MeasureType
2. Add attribute to override Project.Units for the measure selected
3. Connection to IfcProperty not required
4. Assigning `IfcProductData` to `IfcProduct` shall be achieved with `IfcRelAssignsToProduct`
5. Add distinct voxel data types
6. `IfcVoxelData` shall be a subtype of `IfcProductData` (this would resolve #195 also)

[2022-04-12 12:39] anborr commented on #197
DECISION: The connection of the VoxelGrid with IfcProperty is discouraged. All information is at IfcVoxeldata.

[2022-04-12 13:01] anborr commented on #194
DECISION:
1. `IfcVoxelData` is a subtype of `IfcProduct`. Each `IfcVoxelData` instance will then be associated with 1 `IfcVoxelGrid` as representation. This allows an unambigous association between the data and the underlying grid.
2. `IfcRelAssignValuesToGrid` will be turned into `IfcRelAssignToProduct`.
3. The `IfcVoxelData` instance is connected with 1 instance of any subtype of `IfcProduct`, s

[2022-04-12 13:08] anborr commented on #199
We propose to use RGB instead CMYK, as CMYK is for printing and not for screen. We can then use the existing IfcColourRgbList.

[2022-04-12 13:12] anborr commented on #199
DECISION: Using enumerations for ValueType is discarded for now. Use Labels instead.

[2022-04-12 13:45] SergejMuhic commented on #199
ping @TLiebich
discussing colour assignment to indexed geometric items brought up an anomaly in `IfcTesselatedFaceSet`.

`INVERSE HasColourMap` is on that item which does not make use of the style concept. Do you know what the reasoning for that step was? It might help in the discussion here to estimate the effort and decide which way to go.

[2022-04-12 15:53] TLiebich commented on #199
main reason was, that a different colour per face, in particularly per triangle, should be possible. And since there is not instance of a triangle directly (only an array of indices pointing to the vertices of the triangle), it would not be possible to assign a presentation style.

[2022-04-14 07:41] larswik opened #384 "[IFC Tunnel] Rename IfcReinforcedSoil to IfcGroundImprovementElement and add PDTs"
We added IfcGroundImprovementElement/LATERALLYDRAINED.
By that this issue seems resolved.

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/376#issuecomment-1094802157_

[2022-04-14 07:42] larswik commented on #384
New PDTs:
- DEEPMIXED
- LATERALLYDRAINED
- FROZEN

[2022-04-14 07:48] larswik opened #385 "[IFC Tunnel] Add IfcGroundReinforcementElement"
Including PDTs:
- SPILINGBOLT : Definition
- ROCKSUPPORTBOLT : Definition

See #367 and #365

[2022-04-14 07:52] larswik opened #386 "[IFC Tunnel] New/modified entities for excavation"
Add abstract entity IfcExcavation
Definition: The resulting void from modification of existing terrain or road structure by excavation or by other means of removing material.
NOTE Definition from ISO 6707-1: void that results from bulk excavation of material.
NOTE The material excavated and either used as fill or discarded as waste is not modelled as Cut, but may be handled as a different concept

[2022-04-14 08:55] larswik opened #387 "[IFC Tunnel] New PredefinedTypes for IfcSpatialZone"
See
#358
#360
#366
#372
Definitions may need some love...
- MAPPEDZONE : A spatial zone used for collecting and recording observations of different kinds.
- TESTEDZONE : A limited zone subjected to in situ tests. Space to carry the related information on test results, methodology and other metadata. Used similar to sample, but for In-situ test
- COMPARTMENT : A tunnel compartment achieved by cut-o

[2022-04-14 08:58] larswik opened #388 "[IFC Tunnel] New PDTs for IfcDiscreteAccessory"
Issue was resolved by adding the following:
- IfcSpatialZone/COMPARTMENT - to handle the tunnel compartments achieved between the cut-offs
- IfcDiscreteAccessory/WATER_BARRIER - to handle the actual cut-offs

Some good definitions for these will be needed!

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/377#issuecomment-1094800068_
See also #365

[2022-04-14 09:01] larswik commented on #388
- WATER_BARRIER : A device aiding in compartmentalization of water in e.g. tunneling
- STRUCTURAL_SEALING : <<ToDo: Definition>>

[2022-04-14 09:03] larswik opened #389 "[IFC Tunnel] Fireprotection"
Decision 2022-03-24:
- Active fire protection
  - Re-use IfcDistributionSystem/FIREPROTECTION (new definition: Active fire protection for detecting, stopping and excaping fire)
- Passive fire protection
  - New PDT IfcBuiltSystem/FIREPROTECTION (definition: Passive fire protection for containing the fire and preventing it from spreading further)

_Originally posted by @larswik in https://github.co

[2022-04-14 09:08] larswik opened #390 "[IFC Tunnel] Add PredefinedType LAGGING for IfcPlate"
Proposal:
Liner plates - IfcPlate/?
Lagging - IfcPlate/LAGGING
Yielding supports - A property (HasYieldingSupport : IfcBoolean, YieldingLength:IfcLengthMeasure) connected to any element that can have this (IfcArch and IfcWall were mentioned). Jan Erik states that “I think we agreed that yielding could be a property on all rock support (?) Rock support bolts could be yielding as well”
One possible

[2022-04-14 09:08] larswik commented on #390
New PDT IfcPlate/LAGGING : Provide definition.

[2022-04-14 09:22] larswik opened #391 "[IFC Tunnel] Add entities IfcProductData, IfcObservation and IfcGeoScienceObservation"
IfcProductData shall be an abstract entity inherited from IfcProduct and will be the basis for both observations and voxel data (and maybe more things in the future). (Definition needed).

IfcObservation shall be a concrete entity inherited from IfcProductData : A representation of an observation that can be assigned to another product using _IfcRelAssignsToProduct_

See #317
IfcGeoScienceObservat

[2022-04-14 09:26] larswik opened #392 "[IFC Tunnel] Add mechanism for external datasets"
Indeed, we think that this is the right approach for geophysical surveys or similar extensive data sets represented by Voxel models

_Originally posted by @j-weil in https://github.com/bSI-InfraRoom/IFC-Specification/issues/316#issuecomment-1064010739_

[2022-04-14 09:36] larswik commented on #392
Add IfcDatasetReference entity as subtype of IfcExternalReference.
Attributes:
- Filter : Optional IfcText
- ReferencedDataset : Optional IfcDatasetInformation

New entity IfcDatasetInformation subtype of IfcExternalInformation (or IfcDocumentInformation?)
Attributes:
- Same as IfcDocumentInformation + SchemaReference : Optional IfcLabel (or IfcURIReference?)

Add entity IfcRelAssociatesDataset su

[2022-04-14 09:49] larswik opened #393 "[IFC Tunnel] IfcGeoScienceModel and IfcGeoScienceFeature"
Updated UML model:
![image](https://user-images.githubusercontent.com/25506404/157014110-d264bac3-542c-4a7b-b34f-f58362ddf759.png)

![image](https://user-images.githubusercontent.com/25506404/157014139-eeeb2983-c7d5-440c-8fee-3314df2fe5f9.png)

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/315#issuecomment-1060458394_

[2022-04-14 09:58] larswik commented on #393
New abstract Entity IfcGeoScienceElement subtype of IfcElement : An abstract entity for geotechnical and geological concepts.
New entity IfcGeoScienceFeature subtype of IfcGeoScienceElement : Represents a geological or geotechnical feature as an interpretation of factual data such as observations, measurements and tests.
PDTs:
- DISCRETEDISCONTINUITY : Any interuption of the continuity in the rock

[2022-04-21 11:25] larswik opened #395 "[IFC Tunnel] Add predefined types for IfcBorehole and change base type and deprecate old unused base types"
Predefined types:
- COREDRILLING : A drilling process in which borehole is performed by cutting out cylindrical rock or soil samples in the field, using a core barrel.
- DESTRUCTIVEDRILLING : A drilling process in which the boring is performed using destructive tools
- TRIALPIT : An excavation made for the purpose of observing shallow subsurface conditions, performing field tests and obtaining soi

[2022-04-23 09:57] aothms opened #396 "Invalid IfcXML schema in case of redeclared derived attributes?"
In my interpretation the IfcXML XSD generated by IfcDoc is not compliant in the case of redeclared derived attributes. I'd like to get some additional eyes on this and discuss how to proceed. Also ping @TLiebich and @NickNisbet as the authors of the IFC4-xml spec.

According to 10303-28 **8.5.4.3 Inheritance structures with redeclarations only**

There shall not be an intermediate complexType. The

[2022-04-29 08:00] larswik commented on #383
Handled by #387 and #388

[2022-04-29 08:00] #383 closed, assigned to nobody

[2022-04-29 12:38] larswik opened #397 "[IFC Tunnel] Add tunnel facility"
IfcTunnel : Subtype of IfcFacility
PDTs:
- ACCESSTUNNEL : Passage from surface to areas of underground excavation
- SHAFT : an underground vertical or inclined passageway
- UTILITIES : A tunnel built for utilities such as water, gas or high voltage transmission.
- RAILWAY : A tunnel mainly built for railway traffic.
- ROAD : A tunnel mainly built for road traffic.
- PEDESTRIAN : A tunnel mainly bu

[2022-04-29 12:43] larswik opened #398 "[IFC Tunnel] Add tunnel facility parts"
Tunnel facility parts. Probably according to the new structure meaning:
Add IfcTunnelPart subtype of IfcFacilityPart
PDTs:
- TUNNELSECTION : A longitudinal section of a tunnel of an arbitrary length. The use of this type shall be accompanied by UsageType=.LONGITUDINAL.
- CROSSWAY : A place in a tunnel system where several routes meet, link or cross each other. The use of this type shall be accompa

[2022-04-29 12:46] larswik opened #399 "[IFC Tunnel] Add IfcFillElement"
IfcFillELement : Subtype of IfcBuiltElement
Definition: An element with the purpose of filling gaps between other elements.
PDTs:
INVERTFILL : The fill element used to fill the tunnel invert, i.e. The lowest section of a tunnel, i.e., the floor.
ANNULARGAPFILL : The fill element used to fill the annular gap, e.g. between the tunnel lining and the surrounding ground.

[2022-04-29 12:50] larswik opened #400 "[IFC Tunnel] New PDTs for IfcElementAssembly"
- DUCTBANK : A Duct Bank is two or more ducts or conduits used as part of a system. A duct bank is designed to protect and group or consolidate data and electrical cables to and from a facility. The cables are laid in PVC pipes or conduits. These conduit are bundled together and protected with either steel or reinforced concrete casings. Duct banks are often located underground. They can carry cab

[2022-04-29 12:54] larswik opened #401 "[IFC Tunnel] New PDTs for IfcBuiltSystem"
- TUNNEL_PRESUPPORT : A grouping of rigid elements installed before excavation at the tunnel face at the top perimeter of the tunnel section.
- TUNNEL_SUPPORT : Grouping of elements designed and installed to guarantee the long term stability of the underground structure.
- TUNNEL_LINING : A functional grouping of tunnel lining elements.
- WATERPROOFING : Grouping of elements used to protect the fa

[2022-04-29 12:57] larswik opened #402 "[IFC Tunnel] New/modified PDTs for IfcDistributionSystem"
- MONITORINGSYSTEM
  - Old definition : Sensor-based system for building and infastructure environmental monitoring and control.
  - Proposed widening of the definition : Sensor-based system for building and infrastructure monitoring and control.
- SAFETY : A system aimed for protecting the safety of people, vehicles and other equipment from unwanted events.

[2022-05-02 07:04] larswik opened #403 "[IFC Tunnel] Add new IfcEarthingElement incl Predefined types"
Proposal:
- Added IfcEarthingElement under IfcFlowTerminal
- Added required PDTs

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/203#issuecomment-1094977138_

Entity IfcEarthingElement : Subtype of IfcFlowTerminal
PDTs:
EARTHINGSTRIP : According to EN 62561-2, for use in earth-termination and lightning protection systems as well as for ring equipotentia

[2022-05-02 11:22] larswik opened #404 "[IFC Tunnel] New PDT "JET" for IfcFan"
Add PDT JET for IfcFan.
Description: A fan used for producing a high-velocity flow of air in a space. The typical function is to add momentum to the air within a tunnel. Inlets and outlets are not ducted.

[2022-05-09 06:57] #377 closed, assigned to nobody

[2022-05-09 06:58] #376 closed, assigned to nobody

[2022-05-09 07:00] larswik opened #407 "[IFC Tunnel] [Geotechnics] Settle domain input regarding GeotechSynthesisModel and GeoHazardModel"
Ok, we'll need to come back to this then!

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/373#issuecomment-1094820678_

[2022-05-09 07:02] larswik opened #408 "[IFC Tunnel] Modelling of structure for Geoscience testing"
I just wanted to quickly comment on this. It would entail that there are three ways then for subtyping in the schema. Entity / Predefined Type / Pset. There is no way to indicate that a Pset fulfills this subtyping role as opposed to a Pset with just complementary information. I would envision this poses problems for mappings to languages where typing is "cheaper" such as OWL or bsDD or mappings t

[2022-05-09 07:03] #373 closed, assigned to nobody

[2022-05-09 07:04] larswik commented on #408
See also #378 and #361

[2022-05-09 07:07] #378 closed, assigned to nobody

[2022-05-09 07:08] #372 closed, assigned to nobody

[2022-05-09 07:09] larswik commented on #371
IFC Tunnel project proposes to deprecate the structure based on geometrical dimension in favor of the proposal from the geoscience domain team based on geoscience topic.

[2022-05-09 07:11] #369 closed, assigned to nobody

[2022-05-09 07:12] #366 closed, assigned to nobody

[2022-05-09 07:12] #365 closed, assigned to nobody

[2022-05-09 07:14] larswik opened #409 "[IFC Tunnel] Pset for managing yielding support"
Proposal:
Liner plates - IfcPlate/?
Lagging - IfcPlate/LAGGING
Yielding supports - A property (HasYieldingSupport : IfcBoolean, YieldingLength:IfcLengthMeasure) connected to any element that can have this (IfcArch and IfcWall were mentioned). Jan Erik states that “I think we agreed that yielding could be a property on all rock support (?) Rock support bolts could be yielding as well”
One possible

[2022-05-09 07:15] #364 closed, assigned to nobody

[2022-05-09 07:18] larswik commented on #363
Comments from the geoscience domain team:
Hi Lars, Pat,
@Pat thanks for sharing this again!
@Lars, we think this list is a good starting point to explain our requirements. It is organized in a different way than the list of existing SensorTypes in IFC, as it classifies rather generic types of monitoring devices that are commonly used in tunnelling. Underlined in the description is the, let’s say,

[2022-05-09 07:19] #362 closed, assigned to nobody

[2022-05-09 07:20] #361 closed, assigned to nobody

[2022-05-09 07:20] #360 closed, assigned to nobody

[2022-05-09 07:22] larswik opened #410 "[IFC Tunnel] Modelling of a tunnel system"
Proposal (see also #360 and #372):
- _Ramp : Separate IfcTunnel/RAMP (this is obviously similar as a ramp for roads, e.g. a connecting road between two grade separated roads)_
- _Crossway is already a facility part_
- _Service tunnel : IfcTunnel/SERVICE_
- _Shaft : IfcTunnel/SHAFT_
- _Service room : See Service gallery (IfcSpatialZone/SERVICE_GALLERY or something more generic)_
- _Niche : Not mapp

[2022-05-09 07:22] #359 closed, assigned to nobody

[2022-05-09 07:23] #317 closed

[2022-05-09 07:25] larswik opened #411 "[IFC Tunnel] Definition of IfcDatasetInformation (or just reuse IfcDocumentInformation) in support of IfcDatasetReference (metadata definition)"
Thanks @billeast. Good to have that requirement logged here. Please log any related requirements here as well. I think that the aim for this functionality is to add it to the IfcExternalReferenceResource part of the IFC schema (same as e.g. IfcClassificationReference, IfcDocumentReference, IfcLibraryReference etc) which means that it must provide a generic mechanism. When finalized, the proposal t

[2022-05-09 07:28] #316 closed

[2022-05-09 07:28] #315 closed

[2022-05-09 07:28] #260 closed

[2022-05-09 07:29] #244 closed

[2022-05-09 07:29] #237 closed

[2022-05-09 07:29] #235 closed

[2022-05-09 07:30] #205 closed

[2022-05-09 07:31] larswik opened #412 "[IFC Tunnel] IFC mapping for Sirens and beacons"
Still open:
- _Dramatization (proposal : Some kind of system but with a more generic name/concept)_
- _Tracking (proposal : Some kind of system but with a more specific name/concept)_
- _IfcSpatialZoneTypeEnum : Do we need a new PDT for WAITINGAREA or is FIRESAFETY enough?_
- _Airlock needs a mapping_
- _Operating manuel for fire fighters needs mapping_
- **Siren and Sound beacon needs a mapping**

[2022-05-09 07:32] #203 closed

[2022-05-09 08:55] larswik opened #414 "[IFC Tunnel] Pset for IfcPump to distinguish wet and dry pumps."
Propose to keep this out of the model and use Pset if necessary.

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/368#issuecomment-1094954219_

[2022-05-09 08:56] #368 closed, assigned to nobody

[2022-05-09 08:57] larswik opened #415 "[IFC Tunnel] Psets for bolts IfcGroundReinforcementElement/ROCKSUPPORTBOLT, SPILINGBOLT"
Suggested additional type property

- Solid bar
- Hollow bar (hole < ½ diameter…)
- Tubes/Pipe
- Cable
- Wire

And in addition an anchor property:
True/False
Enum of anchor type?

And maybe an injection property:
True/False
Enum of injection type?

_Originally posted by @JanErikHoel in https://github.com/bSI-InfraRoom/IFC-Specification/issues/367#issuecomment-1072059169_

[2022-05-09 08:58] #367 closed, assigned to nobody

[2022-05-09 09:05] larswik opened #416 "[IFC Tunnel] Define harmonized Psets from domain taxonomy definitions"
Each domain proposal needs to be checked according to existing Psets,

[2022-05-09 14:42] larswik commented on #412
LWi proposal: Add PDTs for IfcAudioVisualAppliance.

[2022-05-16 12:02] larswik commented on #410
Looking into the way Rail modelled RAILWAYLINE and RAILWAYTRACK (as PDT for IfcBuiltSystem), maybe best option is to use IfcBuiltSystem also for a tunnel system (see #413).
E.g. new PDT for IfcBuiltSystem, TUNNEL_SYSTEM?

[2022-05-16 12:09] larswik commented on #411
Personally, I would subtype IfcDocumentInformation and possibly add one attribute _SchemaReference : IfcURIReference_

[2022-05-20 06:25] larswik commented on #407
GeotechSynthesisModel and GeoGazardModel are both proposed as PDTs of IfcGeoScienceModel.
According to mail-discussions, a GeotechSynthesisModel contains GeotechTypicalSection elements which are essentially longitudinal sections along the alignment with homogeneous properties. The proposal from the tech team would be to implement GeotechTypicalSection as a kind of IfcLinearElement which can be pos

[2022-05-20 08:14] larswik opened #421 "[IFC Tunnel] [Geotechnics] Uncertainty modeling"
Input from geotech team:
- IfcShapeModel: the idea is that this is a regular geometric representation that plays a different role: it is not the exact geometry, instead it is part of a particular Scenario (maybe the Scenario is its representation context). A Scenario is a collection of particular assumptions about an uncertain situation, e.g. the position of a fault. Ensembles of Scenarios are sup

[2022-05-23 15:27] anborr commented on #411
D'accord.

[2022-05-24 09:10] larswik opened #422 "[IFC Tunnel][Geotechnics] Modeling of IfcGeoScienceObservation"
Related issue is #408.

The current list of proposed predefined types for IfcGeoScienceObservation is a bit bloated and also capture different aspects. This structure needs to be revisited.
List of currently proposed predefined types:
- INSITUTEST : _A test carried out on site directly in place, e.g. in a borehole, a gallery or from the surface. Distinguished from geophysical surveys which are mor

[2022-05-24 09:14] larswik opened #423 "New PDTs for IfcAudioVisualAppliance."
LWi proposal: Add PDTs for IfcAudioVisualAppliance.

_Originally posted by @larswik in https://github.com/bSI-InfraRoom/IFC-Specification/issues/412#issuecomment-1121195092_

SIREN : a device that makes a loud prolonged signal or warning sound
BEACON : a light or other visible object serving as a signal, warning, or guide

[2022-05-24 09:18] larswik commented on #410
After discussion the IFC Tunnel tech team concluded that the best option is to use the IfcFacility.CompositionType and use IfcTunnel - CompositionType=COMPLEX for a whole tunnel complex and IfcTunnel - CompositionType=ELEMENT for a single "tube".
=> No change in the IFC schema.

[2022-05-24 09:18] #410 closed, assigned to SergejMuhic, anborr

[2022-05-24 09:32] #412 closed, assigned to SergejMuhic, anborr

[2022-05-24 09:44] larswik opened #424 "Add capability to reference external datasets from IFC objects"
D'accord.

_Originally posted by @anborr in https://github.com/bSI-InfraRoom/IFC-Specification/issues/411#issuecomment-1134819130_

As a parallel structure to e.g. IfcDocumentReference...

New ENTITY IfcDatasetReference : Subtype of IfcExternalReference
- Filter : OPTIONAL IfcText : An optional text as e.g. SQL, XQuery etc to filter out data when only a subset is relevant for the dataset reference

[2022-05-24 09:45] larswik commented on #424
![image](https://user-images.githubusercontent.com/25506404/170002658-cbb0e722-9896-44c0-9ff1-8e16a3ff6467.png)

[2022-05-31 11:53] galina-p-tuwien commented on #421
After the meeting on 30th of May, 2022, we determined that there are at least two different ways to assign colour to geometry (as additional information carrier):

- per vertex colour
![PerVertexColour_Diagram](https://user-images.githubusercontent.com/41187423/171166717-5d9096d4-d94c-496e-aedd-62341cc8c5f2.png)

-  texture mapping
![TextureMap_Diagram PNG](https://user-images.githubusercontent.co

[2022-05-31 13:34] galina-p-tuwien commented on #421
For the definition of uncertainty values, we could use the (currently deprecated) complex property or a list / table propery:

- for interval values:

![UncertaintyValue_Angle_V1](https://user-images.githubusercontent.com/41187423/171185766-b740d615-2ec2-4fda-84b4-53efbb8623be.png)
![UncertaintyValue_Angle_V2](https://user-images.githubusercontent.com/41187423/171186009-ec7fa838-c497-4405-abba-05b

[2022-05-31 13:47] galina-p-tuwien commented on #421
Additionally, also at the meeting on 30th of May, 2022, we discussed the following:

- For the mapping of uncertainty to the geometry as a colour, the correspondence between the colour and its semantics (meaning) can be put in a property set.

- The concept of scenarios and ensembles of scenarios can be implemented as follows: If we have scenarios A, B and C concerning geo-elements X and Y, we can

[2022-06-03 06:47] larswik opened #426 "Concept template/Usage for "Stringlines" representation"
In the context of machine guidance for road, one useful representation is the stringline representation, where only the breaklines of a surface are encoded. Usually these breaklines also needs classification codes to indicate what the line represents (road centerline, pavement edge, shoulder edge etc). To my knowledge there is no obvious concept template or usage for this. One option that was pres

[2022-06-09 14:28] j-weil commented on #407
Geometry of GeotechTypicalSection: the IfcLinearElement that correspond via the common reference to the alignment are a good solution.
Additional Psets can be added to cover different requirements, e.g. risks (see image below) option There are additional needs to have volumetric representation in places, like extrusions or sweeps with different diameters or cross sections.
![image](https://user-im

[2022-06-13 16:36] j-weil commented on #363
Thoughts were added further up in the text, latest ffedback by email today:
We could for a quick shot pick examples of existing sensors (like e.g. “MOVEMENTSENSOR”) and add corresponding applications/types of typical geotechnical sensors/devises (e.g. Extensometer/axial displacement, Prism/3D-displacement,…), but presumably some examples of the draft list will be difficult to match and might requi

[2022-06-14 07:27] larswik opened #435 "[IFC Tunnel] Create an IfcTunnelDomain schema (Domain specific data schemas)"
Will at least contain the IfcTunnel and IfcTunnelPartType entities incl predefined type enumerations.

[2022-06-14 07:48] SergejMuhic commented on #363
We could also introduce a property with an property enum further specifying the `MOVEMENTSENSOR` if you feel that adding that many types would be a bad idea. I would prefer to add the necessary types directly to IfcSensorTypeEnum and if necessary further specify it with a classification.

[2022-06-14 08:29] larswik commented on #375
According to decision in tech meeting 13/6: Changed so IfcGroundReinforcementElement is subtype directly under IfcBuiltElement.
![image](https://user-images.githubusercontent.com/25506404/173531386-a25d888a-7b78-47de-9f5d-77d44e235bd8.png)

[2022-06-14 08:29] #375 closed, assigned to SergejMuhic, anborr

[2022-06-14 08:34] larswik commented on #393
To have this change independent, we should also make the changes for IfcBorehole:
- Change baseclass to IfcGeoScienceElement
- Add PredefinedTypes:
  - COREDRILLING : A drilling process in which borehole is performed by cutting out cylindrical rock or soil samples in the field, using a core barrel.
   - DESTRUCTIVEDRILLING : A drilling process in which the boring is performed using destructive too

[2022-06-14 14:52] SergejMuhic commented on #118
This is taken as the resolution and we proceed with closing the issue and associated PR.

[2022-06-14 14:52] #118 closed

[2022-06-14 15:25] larswik commented on #195
Each IfcVoxelData is a subtype of IfcProductData, thus may have its own shape representation. Through IfcRelAssignsToProduct it can be assigned to an IfcProduct as well.

[2022-06-14 15:28] SergejMuhic commented on #195
Adding an instance sketch:
![image](https://user-images.githubusercontent.com/16683597/173616508-bb607375-0067-4ed8-8060-1e7a414b9d95.png)

[2022-06-14 15:38] larswik commented on #197
Since IfcVoxelData is a kind of IfcProduct it may have property sets assigned using IfcRelDefinesByProperties.

[2022-06-14 16:03] SergejMuhic commented on #199
TODO: Explore the basing of `IfcVoxelGrid` on the tesselation family.

[2022-06-16 06:41] larswik opened #439 "[IFC Tunnel] Add entity IfcProductData"
Separated from issue #391.
IfcProductData shall be an abstract entity inherited from IfcProduct and will be the basis for both observations and voxel data (and maybe more things in the future).
Proposed definition: A kind of product with the purpose of providing additional information to other products such as observations. Product data can carry its own representation and shall be related to the

[2022-06-16 06:42] larswik commented on #391
IfcProductData base entity defined as separate issue #439 .

[2022-06-16 07:59] LeeGregory12d commented on #426
Lars,
What if you don't have an IfcSolidStraturm and just want some stringlines ?

[2022-06-16 08:15] larswik commented on #426
Lee,
I think the closest match in IFC would be to use the IfcAnnotation entity with e.g. IfcIndexedPolyCurve as representation. PredefinedType and/or IfcClassificationReference could then be used to "tag" the entity (no IfcShapeAspect needed since only one geometric representation item/stringline per entity). For the case described above (road pavement structure), the lines are the geometric repre

[2022-06-16 08:33] larswik commented on #390
Found this definition from googling: "Lagging is the structural material (most often wood) that spans the distance between spars at an excavation site. Lagging, and the steel spars they connect to, provides temporary ground support as a safety measure during tunneling. The lagging is installed horizontally between vertically installed spars."

[2022-06-16 08:56] larswik commented on #388
One possible definition for STRUCTURAL_SEALING from googling: "A sealing capable of transferring either dynamic or static loads (or both)"

[2022-06-16 09:38] SergejMuhic commented on #426
If there is supposed to be something tangible in the dataset that shows up in the project structure it needs some `IfcRoot` based object over it. This gives it identification and owner history. So, like @larswik said, `IfcAnnotation` would work for single strings or if the strings represent something like a course, `IfcCourse` would be the way to go.

[2022-06-16 10:11] LeeGregory12d commented on #426
Thanks Lars and Sergej,

I have continued to work with IfcAnnotation as was used in the Georeferencing-Survey Units tests in the IFC_4x3_Infra_Deployment project.

I was just checking in case there was something newer that I was unaware of.

[2022-06-17 11:52] larswik opened #447 "[IFC Tunnel]IfcLinearStructureElement and IfcLinearZone as subtypes of IfcLinearElement - IfcGeotechTypicalSection as subtype of IfcLinearZone"
A "Parallel" structure to the spatial structure for linearly oriented infrastructure data
The current IfcAlignment entities shall be subtyped from IfcLinearStructureElement where elements of the same type shall not overlap linearly. Similar to a spatial zone, the linear zones are not as rigid, but defines arbitrary linear zones along an alignment which can be used for locating entities linearly. O

[2022-06-20 10:39] larswik commented on #407
Connected to issue #447

[2022-06-20 10:54] larswik commented on #395
IfcBorehole handled in PR #438. Deprecation still to do.

[2022-06-20 12:33] larswik opened #448 "[IFC Tunnel] Add IfcVoxelData"
IfcVoxelData : Subtype of IfcProductData (need a merge of #440).
  Name : OPTIONAL IfcLabel
  ValueType : OPTIONAL IfcLabel

IfcIntegerVoxelValues : subtype of IfcVoxelData
  Values : Array 1:? of IfcInteger
  Unit : OPTIONAL IfcUnit

IfcLogicalVoxelValues : subtype of IfcVoxelData
  Values : array 1:? of IfcLogical

IfcVectorVoxelValues : subtype of IfcVoxelData
  Values : Array 1:? of IfcVector

[2022-06-20 12:39] larswik opened #449 "[IFC Tunnel] Add IfcVoxelGrid"
IfcVoxelGrid : subtype of IfcTesselatedItem (probably - some foreseen changes where IfcTesselatedFaceSet.HasColours could be moved to IfcTtesselatedItem)
VoxelSizeX : IfcNonNegativeLengthMeasure (size of voxels in x)
VoxelSizeY : IfcNonNegativeLengthMeasure (size of voxels in y)
VoxelSizeZ : IfcNonNegativeLengthMeasure (size of voxels in z)
GridSizeX : IfcInteger (number of voxels along x)
GridSiz

[2022-06-20 14:59] mbeaufils commented on #407
Agree

Also what I have in mind.

Does this mean a GeotechTypicalSection can only be represented as "line(s)" ?

[2022-06-20 15:05] anborr commented on #358
![grafik](https://user-images.githubusercontent.com/73635642/174631068-3356053a-655e-46e4-b57a-3c02021ebd70.png)

[2022-06-21 06:36] larswik commented on #407
There is so far no requirement that a GeotechTypicalSection (IfcLinearElement) is represented by only a line geometrically. It is an IfcProduct and, as such, may have any geometric representation. However, one of its main characteristics is that it is located along a longitudinal portion of the tunnel alignment and one option could even be to have no explicit geometry at all (in addition to the de

[2022-06-21 08:54] larswik commented on #422
Revised proposal (keeping mainly the base classes):
INSITUTEST : A test carried out on site directly in place, e.g. in a borehole, a gallery or from the surface. Distinguished from geophysical surveys which are more complex.
LABTEST : A test on a soli (geologic) or fluid specimen carried out in a laboratory
BOREHOLEOBSERVATION : Any kind of observation or measurement result related to intervals or

[2022-06-21 09:22] larswik commented on #391
Revised proposal for IfcGeoScienceObservation (from #422):
Revised proposal (keeping mainly the base classes):
INSITUTEST : A test carried out on site directly in place, e.g. in a borehole, a gallery or from the surface. Distinguished from geophysical surveys which are more complex.
LABTEST : A test on a soli (geologic) or fluid specimen carried out in a laboratory
BOREHOLEOBSERVATION : Any kind o

[2022-06-21 09:57] #435 closed, assigned to nobody

[2022-06-22 14:46] mbeaufils commented on #422
SAMPLE / SPECIMEN (why not use the GeoSciML term?): A physical sample, obtained for observation(s) carried out ex situ, sometimes in a laboratory.

BOREHOLECONSTRUCTION : Installed casing, material, filter segments, different casing and drilling diameters,... (This does not sound like anything close to an observation).
We propose that BOREHOLECONSTRUCTION is just a separate Pset connected to IfcBo

[2022-06-23 07:51] j-weil commented on #422
We discussed this proposal in the GeoSubgroup based on Mickaels answer above, and share ourt common feedback:

SAMPLE / SPECIMEN (why not use the GeoSciML term?): A physical sample, obtained for observation(s) carried out ex situ, sometimes in a laboratory.

we propose to use the term MaterialSample (it seems that some people have strict definitions of samples vs specimen that are not shared by ev

[2022-06-23 07:52] j-weil commented on #422
Here is our fwork file with better formatting
[220623_GeotechSubgroup Answer.docx](https://github.com/bSI-InfraRoom/IFC-Specification/files/8965149/220623_GeotechSubgroup.Answer.docx)
:

[2022-06-23 09:00] larswik commented on #422
MATERIALSAMPLE:
There is no IFC entity SpatialGeoObsElement. We have collected everything for SpatialGeoObsElement into some existing entities:
- IfcSpatialZone : Re-used and extended predefined types for mapped zones and tested zones
- IfcBorehole : Re-use with slight changes in semantics and added predefined types according to geo taxonomy
- IfcSensor : Re-use - I am not sure about the status re

[2022-06-23 09:19] mbeaufils commented on #422
From my point of view:

New entities in the IFC structure are IfcGeoScienceObservation (Book A), IfcGeoScienceModel and IfcGeoScienceFeature (Book B)

If "MaterialSample" can't be a kind of IfcGeoScienceObservation, it still needs to be an IfcGeoScienceElement. Does it deserve its own IFC entity as a subtype of IfcGeoScienceElement?

In a nutshell, it should be at the same level as IfcBorehole. Is

[2022-06-23 09:20] larswik commented on #422
BOREHOLECONSTRUCTION : Ok!

INSITUTEST : Ok!

LABTEST : Ok!

BOREHOLELOG : Ok! (it is not considered a linear element since that is more "longitudinally/along alignment" oriented "stuff")

GEOSCIENCEOBSERVATION/IfcGeoScienceObservation/IfcGeoScienceObservedFeature : Since predefined types does not allow subtyping, my proposal is to keep only the specific types in this case, i.e. MAPPEDFEATURE and

[2022-06-23 09:28] larswik commented on #422
Yes it is. I forgot in my comment above. Updated now. However, IfcSensor is an IfcDistributionControlElement that was introduced in IFC 4.0 and not GeoScience-specific. Not moving that one.

[2022-06-23 12:27] larswik commented on #363
IfcSensor is defined within the IfcBuildingControlsDomain schema since IFC 4.0 and I think that EXPRESS may lack the possibilities of a linked data environment for extending existing enumeration types in a more free way from other schemas. I think that moving the entity has to be a separate issue. There is nothing however (that I know of) that stops you from using IfcSensor in the context of a tun

[2022-06-27 15:41] larswik commented on #358
- Use IfcReferent
- IfcReferent has IfcLinearPlacement/IfcAxis2PlacementLinear
- IfcAxis2PlacementLinear.Axis defines the angle (angle + cant)
- An object, e.g. IfcLinearElement specifies a from/to IfcReferent
- IfcLinearElement can carry properties (see issue about GeotchTypicalSection)

EDIT:
Specify derived attribute to get the axes of `IfcAxis2PlacementLinear`

[2022-06-27 16:31] larswik commented on #363
Proposal: Add TILTSENSOR, POSITIONSENSOR, TENSIONSENSOR

[2022-06-27 17:15] larswik commented on #422
MaterialSample: Could we use IfcMaterialDefinition (e.g. IfcMaterialConstituentSet) and associate to an IfcGeoScienceObservation?
Change definition for IfcMaterial?
Current definition: "IfcMaterial is a homogeneous or inhomogeneous substance that can be used to form elements (physical products or their components)"
Changed definition: "IfcMaterial is a homogeneous or inhomogeneous substance that c

[2022-06-28 06:33] larswik commented on #449
Will be fixed by #329.

[2022-06-28 06:45] larswik opened #454 "IfcMaterial - Change definition to better fit also with natural (ground) materials"
MaterialSample: Could we use IfcMaterialDefinition (e.g. IfcMaterialConstituentSet) and associate to an IfcGeoScienceObservation?
Change definition for IfcMaterial?
Current definition: "IfcMaterial is a homogeneous or inhomogeneous substance that can be used to form elements (physical products or their components)"
Changed definition: "IfcMaterial is a homogeneous or inhomogeneous substance that c

[2022-06-28 07:10] larswik commented on #422
Summary:
BoreholeConstruction : Pset_BoreholeConstruction

IfcGeoScienceObservation : New Entity (subtype of IfcObservation)
PDTs:
INSITUTESTRESULT:  Result from a test carried out on site directly in place, e.g. in a borehole, a gallery or from the surface.
LABTESTRESULT: Result from test on a rock/soil (geologic) or fluid specimen carried out in a laboratory
BOREHOLELOG: Any kind of observation

[2022-06-28 07:27] larswik commented on #447
To avoid "latency" due to PR dependency, Also add the IfcGeotechTypicalSection entity here.
Subtype of IfcLinearZone.
Description: Interval along the alignment/building structure with similar ground conditions, as part of the GeotechSynthesis model that represents the connection between the ground model and the building. Includes key-properties like expected distribution of ground types (reference

[2022-06-28 12:48] mbeaufils commented on #422
Be careful to material meanings in MaterialSample vs MaterialConstituent.
In MaterialSample, "material" is used to oppose to "conceptual". It means "physical" sample.
Whereas in MaterialConstituent this is what the "thing" is made of.

I still support the idea to have MaterialSample as an IfcGeoscienceElement.

[2022-06-28 13:52] #407 closed, assigned to SergejMuhic, anborr

[2022-06-28 13:52] #411 closed, assigned to SergejMuhic, anborr

[2022-06-28 13:56] larswik commented on #391
Summary from #422:
BoreholeConstruction : Pset_BoreholeConstruction

IfcGeoScienceObservation : New Entity (subtype of IfcObservation)
PDTs:
INSITUTESTRESULT: Result from a test carried out on site directly in place, e.g. in a borehole, a gallery or from the surface.
LABTESTRESULT: Result from test on a rock/soil (geologic) or fluid specimen carried out in a laboratory
BOREHOLELOG: Any kind of obs

[2022-06-29 05:35] j-weil commented on #422
I agree to Mickael, supporting to have MaterialSample as a Gwoscience element.
From my experience IFC Material is used in a different context and usually refers to clearly defined materials with often standardized properties. We are dealing with unknown material in the first place, with the option to attach a wide ränge of loobservations or measurements to it

[2022-06-29 16:26] SergejMuhic commented on #422
@j-weil and @mbeaufils could you explain the exchange scenario where you would use a material sample? By this I mean, what sort of a data model would this be? An instance sketch of this exchange model would help a lot.

Some additional questions:
1. How does a sample fit into the built environment?
2. Who would produce these IFC files?
3. Which stakeholders would receive such IFC files?
4. What ar

[2022-06-29 17:05] j-weil commented on #422
Hi Sergej,
some replies below, I'll add to github but formatting will be lost there, that's why email as well.
I hope that helps, we can collect more structured feedback from the group.

Best,
Jonas

Von: SergejMuhic ***@***.***>
Gesendet: Mittwoch, 29. Juni 2022 18:27 Uhr
An: bSI-InfraRoom/IFC-Specification ***@***.***>
Cc: Jonas WEIL ***@***.***>; Mention ***@***.***>
Betreff: Re: [bSI-InfraRoom

[2022-06-29 17:07] j-weil commented on #422
_1.	How does a sample fit into the built environment?_

Either the laboratory that id the measurement and investigation, the contreactor for site investigation works or the responsible geologists that digitizes the results

3.	Which stakeholders would receive such IFC files?

1.	The ingeneering geologist that produces the ground model and does the interpretation
2.	A checking engineer or infrastru

[2022-06-29 17:18] SergejMuhic commented on #422
From your answers, I have to stick to the proposal above. You are talking about Materials in IFC.

Expecting that laboratories would produce IFC files is in my view a bit far fetched. Maybe a bit more than a bit. 😄 There are other materials of which the characteristics come from laboratories but none of them incorporate the samples that were used for testing.

In a nutshell, the requirements liste

[2022-06-30 07:38] #439 closed, assigned to nobody

[2022-06-30 09:40] larswik opened #459 "IFC modeling of Samples (Tunnel/Geotechnics domain)"
From your answers, I have to stick to the proposal above. You are talking about Materials in IFC.

Expecting that laboratories would produce IFC files is in my view a bit far fetched. Maybe a bit more than a bit. 😄 There are other materials of which the characteristics come from laboratories but none of them incorporate the samples that were used for testing.

In a nutshell, the requirements liste

[2022-06-30 13:57] mbeaufils commented on #422
Completing what @j-weil wrote, but maybe focusing more on the perspective for BIM / IFC.

First : A MaterialSample aka Sample/Specimen is something collected from the field (piece of soil, rock, fluid) that is then studied in a laboratory. Several tests will be performed on them to identify their characteristics.
In a MaterialSample, several materials (here with the same meaning as IfcMaterial) ca

[2022-06-30 14:00] mbeaufils commented on #459
Completing what @j-weil wrote, but maybe focusing more on the perspective for BIM / IFC.

First : A MaterialSample aka Sample/Specimen is something collected from the field (piece of soil, rock, fluid) that is then studied in a laboratory. Several tests will be performed on them to identify their characteristics.
In a MaterialSample, several materials (here with the same meaning as IfcMaterial) ca

[2022-06-30 20:28] SergejMuhic commented on #459
What remains open is how MaterialSample is embedded into the BIM use case, exchange scenario, exchange model, data responsibility and authorship, classification, project structure environment...

I am not trying to achieve anything other than get my questions answered. We, as the IFC technical team just need all of the questions answered to properly model the requirements of domain experts. We nee

[2022-07-06 08:11] mbeaufils commented on #459
Hi @SergejMuhic, we will have a geosubgroup meeting tomorrow with @j-weil but here are some comments to make the discussion move forward.

Yes the way materials are considered in geotech is quite different. We have to be cautious not to do wrong connections.

In terms of usage, a MaterialSample has similarities with Borehole as both are objects that can be mapped and are associated to geoscience o

[2022-07-07 08:10] j-weil commented on #459
07.07.2022, comments by Geo Subgroup regarding discussion of “sample” in conceptual model

Initial proposal: „MaterialSample“ with related objects  „LabTest“

Existing concept for “materials” in IFC:
http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/ifcmaterialresource/content.html
Description:
“The schema IfcMaterialResource contains the types and entities that are used to def

[2022-07-07 08:56] mbeaufils opened #460 "[IFC Tunnel] GeoSubgroup - Book C - RiskElements"
As an introduction of the proposal and for discussion.

**Detailled proposal available in the taxonomy file.**

Inspiration:
![image](https://user-images.githubusercontent.com/17067226/177733264-b0c8b590-342a-4baa-85e0-f8da4d22606f.png)

Proposed objects: Would be some IfcLinearElements

Option 1: **RiskSection** with Properties reagarding "Risk assessment" and "Risk treatment"
Option 2 : **RiskAs

[2022-07-13 11:30] aothms opened #461 "IfcSegment and invalid rules"
Due to the new intermediate subtype IfcSegment, there are a couple of where rules and functions now invalid.

E.g

**SameDim**: Ensures, that all segments used in the curve have the same dimensionality.

    SIZEOF( QUERY( Temp <* Segments | Temp.Dim <> Segments[1].Dim)) = 0
                                           ^^^                ^^^ Dim not available

http://ifc43-docs.standards.buildingsma

[2022-07-14 09:37] aothms opened #462 "Unused IfcBearingTypeDisplacementEnum"
What's the purpose of IfcBearingTypeDisplacementEnum, introduced in 4x2 but never referenced? Is it obsolete, should it have been a PEnum? Anybody any ideas?

https://standards.buildingsmart.org/IFC/DEV/IFC4_3/RC4-voting/HTML/link/ifcbearingtypedisplacementenum.htm

[2022-07-14 10:06] SergejMuhic commented on #462
Hm, I cannot remember this. It seems superfluous. It also does not seem to be finished since it does not features `USERDEFINED`. @anborr do you remember what the rationale behind this enum was?

Since you say that it is never referenced, I would assume it has no purpose anymore. Might just be a ghost leftover.

[2022-07-14 10:21] SergejMuhic commented on #461
This could be resolved by moving `Dim` to `IfcSegment`.

`ParentCurve` is of course trickier.

We have considered direct inheritance but we would have had to introduce another select in between to be able to use both segment types on `IfcCompositeCurve`. Selects were not desired due to "reasons" 😄 .

The problem with SameSense is that it is mandatory and the requirement on `IfcCurveSegment` was to

[2022-07-31 17:23] SergejMuhic commented on #461
Found another issue with "IfcSegment.Dim", it is in the IfcCurveDim function:
[code]
My express interpreter also complains. Just adding this function here to have a more comprehensive list.

[2022-08-01 10:28] TLiebich commented on #461
it seems, that we have to mirror a function, similar to [IfcCurveDim ](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcCurveDim.htm) also for IfcSegment.

FUNCTION IfcSegmentDim
(Segment : IfcSegment)
: IfcDimensionCount;
IF ('IFC4X3.IFCCURVESEGMENT' IN TYPEOF(Segment))
THEN RETURN(Segment.ParentCurve.Dim);
END_IF;
IF ('IFC4X3.IFCCOMPOSITECURVE' IN TYPEOF(Segment))

[2022-08-04 14:23] SergejMuhic commented on #461
Move .Dim to IfcSegment and call the function Dim on Segments.ParentCurve.

IfcGetBasisSurface still to be discussed.

[2022-08-12 14:35] #403 closed, assigned to nobody

[2022-08-12 14:35] #404 closed, assigned to nobody

[2022-08-12 14:35] #423 closed, assigned to nobody

[2022-08-12 14:35] #389 closed, assigned to nobody

[2022-08-12 14:35] #399 closed, assigned to nobody

[2022-08-12 14:35] #402 closed, assigned to nobody

[2022-08-12 14:35] #391 closed, assigned to nobody

[2022-08-12 14:35] #454 closed, assigned to larswik

[2022-08-12 14:35] #448 closed, assigned to SergejMuhic, larswik, anborr

[2022-08-12 16:08] larswik opened #472 "IfcGeoScienceFeature/GEOTECHNICALUNIT - "(=GeotechModels)" this is a confusing notation. What does it mean?"
"(=GeotechModels)" this is a confusing notation. What does it mean?

_Originally posted by @SergejMuhic in https://github.com/bSI-InfraRoom/IFC-Specification/pull/438#discussion_r896817553_

Documentation for IfcGeoScienceFeature/GEOTECHNICALUNIT should be clarified.

[2022-08-12 16:10] larswik opened #473 "IfcGeoScienceFeature/HYDROGEOUNIT - Reference does not seem according to IFC documentation."
Reference does not seem according to IFC documentation.

_Originally posted by @SergejMuhic in https://github.com/bSI-InfraRoom/IFC-Specification/pull/438#discussion_r896820591_

Clarify documentation.

[2022-08-12 17:01] #398 closed, assigned to nobody

[2022-08-17 06:15] iegorychev opened #475 "IFC4.3 Legacy Issues part 2"
EXPRESS function IfcBaseAxis has following code inside:

`
  Factor := IfcDotProduct(Axis2, U[2]);

  IF (Factor < 0.0) THEN (* Here is an untolerant comparison for REAL value *)

    U[2].DirectionRatios[1] := -U[2].DirectionRatios[1];

    U[2].DirectionRatios[2] := -U[2].DirectionRatios[2];

  END_IF;
`

we've faced with issue when input vectors have 'slightly' negative values like:
#8130=IFCDI

[2022-08-17 07:09] SergejMuhic commented on #475
This is implementer laziness. 😄 These values should be 0 and all would be good.

Which specification did you have in mind? Could you provide a reference? I am unaware of this and would of course want to take it into account. If this is the case, then your proposal is reasonable.

One way we could resolve this is if the functions taking REAL values would account for `IfcGeometricRepresentationConte

[2022-08-17 07:39] SergejMuhic commented on #475
How do you propose to encode the tolerance?

[2022-08-17 07:48] iegorychev commented on #475
Sergej, I mean 10303-11:

12.2.1.1 Numeric comparisons

The value comparison operators, when applied to numeric operands, shall correspond to the
mathematical ordering of the real numbers.

NOTE Precision specifications are not considered when comparing two real numbers.

EXAMPLE Given:
a : REAL(3) := 1.23
b : REAL(5) := 1.2300;
the expression a = b evaluates to true.

I think the NOTE 'removes' p

[2022-08-17 07:53] iegorychev commented on #475
I also see calls like:

OR (NOT(IfcSameAxis2Placement(IfcGeometricRepresentationContext[1].WorldCoordinateSystem,
                                                  IfcGeometricRepresentationContext[i].WorldCoordinateSystem,
                                                  IfcGeometricRepresentationContext[1].Precision)));

IfcGeometricRepresentationContext.Precision could be a starting point, but

[2022-08-26 12:40] aothms commented on #281
I fixed these in https://github.com/buildingSMART/IFC4.3.x-development

[2022-08-26 19:29] SergejMuhic commented on #281
@iegorychev syncing with the bSI repo. If you have an opportunity, please check the change. I would prefer to have a review, but these are small changes.

[2022-08-27 06:03] iegorychev commented on #281
@aothms , @SergejMuhic Thanks, I'll check after weekends.

[2022-08-30 15:20] SergejMuhic commented on #281
I found another capitalization in `IfcConstraintsParamBSpline` and will attach it to this issue and the linked PR if it is okay by you guys. The "Result" parameter in the return statement.

[code]

[2022-08-31 17:45] #281 closed

[2022-10-20 09:31] j-weil commented on #447
Hi Lars,
as discussed today we propose to change the Entity IfcGeotechTypicalSection https://bsi-infraroom.github.io/IFC-Documentation-Tunnel/4_4_0_0/general/HTML/ to cover the same concept more generally for tunnel design, and call it e.g. IfcTunnelTypicalSection.
PDTs can then cover both Geotechnics, tunnel design and related risks, as described earlier e.g. in image below.
PDT "GeotechTypicalSe

[2022-10-20 09:33] SergejMuhic commented on #447
This issue was closed. I will create a new issue for this.

[2022-10-20 09:35] SergejMuhic opened #482 "[IFC Tunnel]IfcLinearStructureElement rename IfcGeotechnicalTypicalSection to IfcTunnelTypicalSection"
Hi Lars,
as discussed today we propose to change the Entity IfcGeotechTypicalSection https://bsi-infraroom.github.io/IFC-Documentation-Tunnel/4_4_0_0/general/HTML/ to cover the same concept more generally for tunnel design, and call it e.g. IfcTunnelTypicalSection.
PDTs can then cover both Geotechnics, tunnel design and related risks, as described earlier e.g. in image below.
PDT "GeotechTypicalSe

[2022-10-20 09:36] SergejMuhic commented on #482
Pinging [j-weil](https://github.com/j-weil)

[2022-10-20 11:06] j-weil commented on #482
Great, Thanks Sergej

Von: SergejMuhic ***@***.***>
Gesendet: Donnerstag, 20. Oktober 2022 11:36 Uhr
An: bSI-InfraRoom/IFC-Specification ***@***.***>
Cc: Jonas WEIL ***@***.***>; Mention ***@***.***>
Betreff: Re: [bSI-InfraRoom/IFC-Specification] [IFC Tunnel]IfcLinearStructureElement rename IfcGeotechnicalTypicalSection to IfcTunnelTypicalSection (Issue #482)

Pinging j-weil<https://eur02.safelink

[2022-10-20 17:18] #83 closed

[2022-10-20 17:19] #87 closed

[2022-10-20 17:21] #202 closed

[2022-10-20 17:21] #96 closed

[2022-10-25 06:24] Airy59 commented on #421
About the suggestion to use complex properties : why were these deprecated in the first place?

[2022-10-25 06:52] larswik commented on #421
From what I can see here in the official documentation ([IfcComplexProperty](http://ifc43-docs.standards.buildingsmart.org/IFC/RELEASE/IFC4x3/HTML/lexical/IfcComplexProperty.htm)), it has not been deprecated yet. There is a GitHub issue concerning "NextGen", [Issue](https://github.com/buildingSMART/NextGen-IFC/issues/85), which obviously has no resolution yet. However, others (@SergejMuhic ?) migh

[2022-10-26 04:40] Airy59 commented on #421
Talking about usage - geometries for instance are specified with tolerances, because things embodying the geometry may get deformed or wear down in the course of their lifetime. Measurements will be performed to see if things need repair or replacement. Actual things will be measured, and measures come with uncertainties. The entity in charge of maintenance needs to decide whether the (uncertain)